<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659368096195-aeht1tk9ee2ea4uv4t4l2m9p2s6p7c6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659368096195-aeht1tk9ee2ea4uv4t4l2m9p2s6p7c6n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659368096195-iojvegr48tgvnsgomvdau7le5t0qc4lp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1FwU10ZVkpt_8pgQ-w1ztoouMRjjAnvo</string>
	<key>GCM_SENDER_ID</key>
	<string>659368096195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mwitiApp</string>
	<key>PROJECT_ID</key>
	<string>mwiti-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>mwiti-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659368096195:ios:12a37f3536804e7d824d76</string>
</dict>
</plist>